# Virtual Environment
venv/
venv_linux/
venv_graphrag/
# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# VS Code 
.history
.ionide
.vscode/*
!.vscode/launch.json
!.vscode/settings.json


# Environment variables and keys
.env

#plugins
Archive/Code/neo4j/**/plugins/*.jar
Archive/Code/neo4j/*

Archive/Code/TutorialsAndExperiments/PrimeKG/HPO_KG/data/*
Archive/Code/TutorialsAndExperiments/PrimeKG/HPO_KG/import/*
Archive/Code/neo4j/MicrosoftGraphRag/graphrag_project/*


Archive/Code/testing_tools/deep_eval/.deep_eval/.*
launch.json

Archive/Code/venv_lightning

Product/dashboard/node_modules/
Product/dashboard/package-lock.json