# Virtual Environment
venv/
venv_linux/
venv_graphrag/
# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# VS Code 
.history
.ionide
.vscode/*
!.vscode/launch.json
!.vscode/settings.json


# Environment variables and keys
.env

#plugins
Code/neo4j/**/plugins/*.jar
Code/neo4j/*

Code/TutorialsAndExperiments/PrimeKG/HPO_KG/data/*
Code/TutorialsAndExperiments/PrimeKG/HPO_KG/import/*
Code/neo4j/MicrosoftGraphRag/graphrag_project/*


Code/testing_tools/deep_eval/.deep_eval/.*
launch.json

Code/venv_lightning