# Virtual Environment
venv/
venv_linux/
venv_graphrag/
# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# VS Code 
.history
.ionide
.vscode/*
!.vscode/launch.json
!.vscode/settings.json


# Environment variables and keys
.env

#plugins
Code/neo4j/**/plugins/*.jar
Code/neo4j/HPO_KG/data/*
Code/neo4j/HPO_KG/import/*
